<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>抽屉--时政热点</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">



    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
{% csrf_token %}
 
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">抽屉</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">全部</a></li>
{% for bbs_category in bbs_category %}
{% ifequal bbs_category.id cate_id %}
<li class="active"><a href="/category/{{bbs_category.id}}/">{{ bbs_category.name }}</a></li>
{% else %}
<li class=""><a href="/category/{{bbs_category.id}}/">{{ bbs_category.name }}</a></li>
{% endifequal%}
{% endfor %}
	</ul>
<ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">

{% if user.is_authenticated %}
欢迎你！{{user.username}}


<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">

                <li><a href="/logout/">退出</a></li>
		<li><a href="/bbs_pub/">发帖</a></li>
              </ul>



{%else%}
登录
<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/login/">login</a></li>
              </ul>

{%endif%}

           
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">


{% block page-content %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
	{% for bbs in bbs_list %}
		<a href="/detail/{{bbs.id}}/"><h3>{{ bbs.title }}</h3></a><br />
		{{ bbs.summary }}
<hr>
	 {% endfor %}
      </div>

{% endblock %}




    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>